
body {
	background: #2c3e50;
	color: white;
	font-family: monospace;
	padding-top: 30px;
}

.container {
	max-width: 1240px;
}

input, .modal {
color: black;
}
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
background-color: #34495e;
}
.row .alert {
margin-top: 25px;
}
th, td {
border-top: none !important;
}

h3 {
background-color: #333;
padding: 12px;
border-top-right-radius: 20px;
font-weight: bolder;
letter-spacing: .1em;
}


.modal-header, .modal-footer {
background-color: #333;
color: white;
border: 0;
}

.modal-body {
background: #2c3e50;
color: white;
}

.close, .close:hover {
color: white;
}

.btn {
font-weight: bolder;
letter-spacing: .2em;
}

.table {
	color: #fff;
}

.table td, .table th {
	vertical-align: middle;
}

/* Division  */
.Rajshahi ~ .Rajshahi, .Dhaka ~ .Dhaka, .Rangpur  ~ .Rangpur, .Mymensingh  ~ .Mymensingh, .Chittagong  ~ .Chittagong, .Sylhet  ~ .Sylhet, .Borishal  ~ .Borishal {
	display: none !important;
}

/* alertify */
.alertify-inner p {
	color: #333;
}
 
.alertify {
	top: 150px;
}